<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags  -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>Salon Fransisco</title>
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />

    <!--Core CSS -->
    <link rel="stylesheet" href="assets/css/app.css" />
    <link rel="stylesheet" href="assets/css/main.css" />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800;900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet" />

    <!--Mapbox styles-->
</head>

<body>
    <!-- <div id="huro-app" class="app-wrapper"> -->
        <!-- <div class="app-overlay"></div>

        <!-- Full pageloader -->
        <!-- Pageloader -->
        <!-- <div class="pageloader is-full"></div> -->
        <!-- <div class="infraloader is-full is-active"></div> -->
        <!--Mobile navbar-->
        <!-- <nav class="navbar mobile-navbar no-shadow is-hidden-desktop is-hidden-tablet" aria-label="main navigation"> -->
            <!-- <div class="container">
                <!-- Brand -->
                <!-- <div class="navbar-brand"> -->
                    <!-- Mobile menu toggler icon -->
                    <!-- <div class="brand-start">
                        <div class="navbar-burger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </div> -->

                    <!-- <a class="navbar-item is-brand" href="index.html">
                        <img class="light-image" src="assets/img/logos/logo/logo.svg" alt="">
                        <img class="dark-image" src="assets/img/logos/logo/logo-light.svg" alt="">
                    </a> -->

                    <!-- <div class="brand-end">
                        <div class="navbar-item has-dropdown is-notification is-hidden-tablet is-hidden-desktop">
                            <a class="navbar-link is-arrowless" href="javascript:void(0);">
                                <i data-feather="bell"></i>
                                <span class="new-indicator pulsate"></span>
                            </a>
                            <div class="navbar-dropdown is-boxed is-right">
                                <div class="heading">
                                    <div class="heading-left">
                                        <h6 class="heading-title">Notifications</h6>
                                    </div>
                                    <div class="heading-right">
                                        <a class="notification-link" href="#">See all</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown is-right is-spaced dropdown-trigger user-dropdown">
                            <div class="is-trigger" aria-haspopup="true">
                                <div class="profile-avatar">
                                    <img class="avatar" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                                </div>
                            </div>
                            <div class="dropdown-menu" role="menu">
                                <div class="dropdown-content">
                                    <div class="dropdown-head">
                                        <div class="h-avatar is-large">
                                            <img class="avatar" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                                        </div>
                                        <div class="meta">
                                            <span>Erik Kovalsky</span>
                                            <span>Product Manager</span>
                                        </div>
                                    </div>
                                    <a href="#" class="dropdown-item is-media">
                                        <div class="icon">
                                            <i class="lnil lnil-user-alt"></i>
                                        </div>
                                        <div class="meta">
                                            <span>Profile</span>
                                            <span>View your profile</span>
                                        </div>
                                    </a>
                                    <a class="dropdown-item is-media layout-switcher">
                                        <div class="icon">
                                            <i class="lnil lnil-layout"></i>
                                        </div>
                                        <div class="meta">
                                            <span>Layout</span>
                                            <span>Switch to admin/webapp</span>
                                        </div>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item is-media">
                                        <div class="icon">
                                            <i class="lnil lnil-briefcase"></i>
                                        </div>
                                        <div class="meta">
                                            <span>Projects</span>
                                            <span>All my projects</span>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item is-media">
                                        <div class="icon">
                                            <i class="lnil lnil-users-alt"></i>
                                        </div>
                                        <div class="meta">
                                            <span>Team</span>
                                            <span>Manage your team</span>
                                        </div>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <a href="#" class="dropdown-item is-media">
                                        <div class="icon">
                                            <i class="lnil lnil-cog"></i>
                                        </div>
                                        <div class="meta">
                                            <span>Settings</span>
                                            <span>Account settings</span>
                                        </div>
                                    </a>
                                    <hr class="dropdown-divider">
                                    <div class="dropdown-item is-button">
                                        <button class="button h-button is-primary is-raised is-fullwidth logout-button">
                                            <span class="icon is-small">
                                              <i data-feather="log-out"></i>
                                          </span>
                                            <span>Logout</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                <!-- </div> -->
            <!-- </div> --> 
        <!-- </nav> -->
        <!--Mobile sidebar-->
        <!-- <div class="mobile-main-sidebar">
            <div class="inner">
                <ul class="icon-side-menu">
                    <li>
                        <a href="/admin-dashboards-personal-1.html" id="home-sidebar-menu-mobile">
                            <i data-feather="activity"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/admin-grid-users-1.html" id="layouts-sidebar-menu-mobile">
                            <i data-feather="grid"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/elements-hub.html" id="elements-sidebar-menu-mobile"> -->
                            <!-- <i data-feather="box"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/components-hub.html" id="components-sidebar-menu-mobile">
                            <i data-feather="cpu"></i>
                        </a>
                    </li>
                    <li>
                        <a href="/messaging-chat.html" id="open-messages-mobile">
                            <i data-feather="message-circle"></i>
                        </a>
                    </li>
                </ul>

                <ul class="bottom-icon-side-menu">
                    <li>
                        <a href="javascript:" class="right-panel-trigger" data-panel="search-panel">
                            <i data-feather="search"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i data-feather="settings"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div> -->
        <!--Webapp navbar regular-->
        <!-- <div class="webapp-navbar">
            <div class="webapp-navbar-inner"> -->
                <!-- <div class="left">
                    <a href="/" class="brand">
                        <img class="light-image" src="assets/img/logos/logo/logo.svg" alt="" />
                        <img class="dark-image" src="assets/img/logos/logo/logo-light.svg" alt="" />
                    </a>
                    <div class="separator"></div> -->
                    <!-- <div class="dropdown project-dropdown dropdown-trigger is-spaced">
                        <div class="h-avatar is-small">
                            <span class="avatar is-fake is-h-green">
                              <span>H</span>
                            </span>
                        </div>
                        <span class="status-indicator"></span>

                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-block">
                                    <div class="h-avatar is-small">
                                        <span class="avatar is-fake is-warning">
                                          <span>D</span>
                                        </span>
                                    </div>
                                    <div class="meta">
                                        <span class="dark-inverted">Delivery App Project</span>
                                        <span>Food For Good</span>
                                    </div>
                                </div>
                                <div class="dropdown-block">
                                    <div class="h-avatar is-small">
                                        <span class="avatar is-fake is-h-green">
                                          <span>H</span>
                                        </span>
                                    </div>
                                    <div class="meta">
                                        <span class="dark-inverted">Health and Fitness Dashboard</span>
                                        <span>Fit'n'Dance</span>
                                    </div>
                                </div>
                                <div class="dropdown-block">
                                    <div class="h-avatar is-small">
                                        <span class="avatar is-fake is-info">
                                          <span>L</span>
                                        </span>
                                    </div>
                                    <div class="meta">
                                        <span class="dark-inverted">Learning Tracker Dashboard</span>
                                        <span>Fit'n'Dance</span>
                                    </div>
                                </div>
                                <div class="dropdown-block">
                                    <div class="h-avatar is-small">
                                        <span class="avatar is-fake is-h-purple">
                                          <span>B</span>
                                        </span>
                                    </div>
                                    <div class="meta">
                                        <span class="dark-inverted">Banking and Finance Dashboard</span>
                                        <span>H Bank</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    <!-- <h1 id="webapp-page-title" class="title is-5">Welcome</h1>
                </div> -->
                <!-- <div class="center">
                    <div id="webapp-navbar-menu" class="centered-links">
                        <a id="dashboards-navbar-menu" class="centered-link centered-link-toggle" data-menu-id="dashboards-webapp-menu">
                            <i data-feather="activity"></i>
                            <span>Tambah Barang</span>
                        </a>
                    </div>
                    <div id="webapp-navbar-search" class="centered-search is-hidden">
                        <div class="field">
                            <div class="control has-icon">
                                <input type="text" class="input is-rounded search-input" placeholder="Search records...">
                                <div class="form-icon">
                                    <i data-feather="search"></i>
                                </div>
                                <div id="webapp-navbar-search-close" class="form-icon is-right">
                                    <i data-feather="x"></i>
                                </div>
                                <div class="search-results has-slimscroll"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="toolbar ml-auto">

                        <div class="toolbar-link">
                            <label class="dark-mode ml-auto">
                                <input type="checkbox" checked>
                                <span></span>
                            </label>
                        </div> -->


                        <!-- <div class="toolbar-notifications is-hidden-mobile">
                            <div class="dropdown is-spaced is-dots is-right dropdown-trigger">
                                <div class="is-trigger" aria-haspopup="true">
                                    <i data-feather="bell"></i>
                                    <span class="new-indicator pulsate"></span>
                                </div>
                                <div class="dropdown-menu" role="menu">
                                    <div class="dropdown-content">
                                        <div class="heading">
                                            <div class="heading-left">
                                                <h6 class="heading-title">Notifications</h6>
                                            </div>
                                            <div class="heading-right">
                                                <a class="notification-link" href="/admin-profile-notifications.html">See all</a>
                                            </div>
                                        </div>
                            
                                    </div>
                                </div>
                            </div>
                        </div> -->

                    <!-- </div>
                    <div class="dropdown profile-dropdown dropdown-trigger is-spaced is-right">
                        <img src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                        <span class="status-indicator"></span>

                        <div class="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <div class="dropdown-head">
                                    <div class="h-avatar is-large">
                                        <img class="avatar" src="https://via.placeholder.com/150x150" data-demo-src="assets/img/avatars/photos/8.jpg" alt="">
                                    </div>
                                    <div class="meta">
                                        <span>Erik Kovalsky</span>
                                        <span>Product Manager</span>
                                    </div>
                                </div>
                                <a href="/admin-profile-view.html" class="dropdown-item is-media">
                                    <div class="icon">
                                        <i class="lnil lnil-user-alt"></i>
                                    </div>
                                    <div class="meta">
                                        <span>Profile</span>
                                        <span>View your profile</span>
                                    </div>
                                </a>
                                <a class="dropdown-item is-media layout-switcher">
                                    <div class="icon">
                                        <i class="lnil lnil-layout"></i>
                                    </div>
                                    <div class="meta">
                                        <span>Layout</span>
                                        <span>Switch to admin/webapp</span>
                                    </div>
                                </a>
                                <hr class="dropdown-divider">
                                <a href="#" class="dropdown-item is-media">
                                    <div class="icon">
                                        <i class="lnil lnil-briefcase"></i>
                                    </div>
                                    <div class="meta">
                                        <span>Projects</span>
                                        <span>All my projects</span>
                                    </div>
                                </a>
                                <a href="#" class="dropdown-item is-media">
                                    <div class="icon">
                                        <i class="lnil lnil-users-alt"></i>
                                    </div>
                                    <div class="meta">
                                        <span>Team</span>
                                        <span>Manage your team</span>
                                    </div>
                                </a>
                                <hr class="dropdown-divider">
                                <a href="#" class="dropdown-item is-media">
                                    <div class="icon">
                                        <i class="lnil lnil-cog"></i>
                                    </div>
                                    <div class="meta">
                                        <span>Settings</span>
                                        <span>Account settings</span>
                                    </div>
                                </a>
                                <hr class="dropdown-divider">
                                <div class="dropdown-item is-button">
                                    <button class="button h-button is-primary is-raised is-fullwidth logout-button">
                                        <span class="icon is-small">
                                          <i data-feather="log-out"></i>
                                      </span>
                                        <span>Logout</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

        <!-- <div class="webapp-subnavbar">

            <!--src/partials/navbar/webapp/menus/-->
            <!-- <div id="dashboards-webapp-menu" class="webapp-subnavbar-inner tabs-wrapper">
                <div class="tabs-inner">
                    <div class="tabs is-centered is-3">
                        <ul>
                            <li data-tab="dashboard-pages-tab" class="is-active"><a>Tambah Barang</a></li>
                            <li data-tab="templates-pages-tab"><a>Templates</a></li>
                        </ul>
                    </div>
                </div> -->


                
            <!-- </div> -->
            <!--src/partials/navbar/webapp/menus/-->
          
            <!--src/partials/navbar/webapp/menus/-->
            <!--src/partials/navbar/webapp/menus/-->
            <!-- <div id="components-webapp-menu" class="webapp-subnavbar-inner tabs-wrapper">
                <div class="tabs-inner">
                    <div class="tabs is-centered is-2">
                        <ul>
                            <li data-tab="components-basic-pages-tab" class="is-active"><a>UI Components</a></li>
                            <li data-tab="components-plugins-pages-tab"><a>JS Plugins</a></li>
                        </ul>
                    </div>
                </div>


                <div class="container">
                    <div id="components-basic-pages-tab" class="tab-content is-active">
                        <div class="tab-content-inner">
                            <div class="center has-slimscroll">
                                <div class="columns">
                                    <div class="column is-3">
                                        <h4 class="column-heading">General</h4>
                                        <ul>
                                            <li>
                                                <a href="/components-avatars.html">
                                                    <span>Avatars</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-accordion-basic.html">
                                                    <span>Accordion</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-accordion-collapse.html">
                                                    <span>Collapse</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-calendar.html">
                                                    <span>Calendar</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-accordion-images.html">
                                                    <span>Image Accordion</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-breadcrumb.html">
                                                    <span>Breadcrumb</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-3">
                                        <h4 class="column-heading">Interaction</h4>
                                        <ul>
                                            <li>
                                                <a href="/components-loader.html">
                                                    <span>Loader</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-dropdown.html">
                                                    <span>Dropdown</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-modal.html">
                                                    <span>Modal Dialogs</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-tabs-regular.html">
                                                    <span>Regular Tabs</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-tabs-slider.html">
                                                    <span>Slider Tabs</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-3">
                                        <h4 class="column-heading">Presentation</h4>
                                        <ul>
                                            <li>
                                                <a href="/components-icon-box.html">
                                                    <span>Icon Box</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-messages.html">
                                                    <span>Message</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-progress.html">
                                                    <span>Progress</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-snacks.html">
                                                    <span>Snacks</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-3">
                                        <h4 class="column-heading">Flex Table</h4>
                                        <ul>

                                            <li>
                                                <a href="/components-table-flex.html">
                                                    <span>Base Table</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-table-flex-compact.html">
                                                    <span>Compact Table</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-table-flex-media.html">
                                                    <span>Media Table</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-table-flex-advanced.html">
                                                    <span>Advanced Table</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="components-plugins-pages-tab" class="tab-content">
                        <div class="tab-content-inner">
                            <div class="center has-slimscroll">
                                <div class="columns">
                                    <div class="column is-3">
                                        <ul>
                                            <li>
                                                <a href="/components-plugins-alertify.html">
                                                    <span>Alertify</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-autocomplete.html">
                                                    <span>Autocomplete</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-datepicker.html">
                                                    <span>Datepicker</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-choices.html">
                                                    <span>Choices JS</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-3">
                                        <ul>
                                            <li>
                                                <a href="/components-plugins-filepond.html">
                                                    <span>Filepond</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-lightgallery.html">
                                                    <span>Light Gallery</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-videogallery.html">
                                                    <span>Video Gallery</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-video-player.html">
                                                    <span>Video Player</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-3">
                                        <ul>
                                            <li>
                                                <a href="/components-plugins-toasts.html">
                                                    <span>Toast Messages</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-webuipopover.html">
                                                    <span>WebUI Popovers</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-nouislider.html">
                                                    <span>NoUI Slider</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-editor-summernote.html">
                                                    <span>Summernote</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/components-plugins-editor-sun.html">
                                                    <span>Sun Editor</span>
                                                    <i data-feather="circle"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="column is-3">
                                        <a href="https://cssninja.io" class="column-placeholder">
                                            <img class="light-image" src="assets/img/icons/misc/buoy.svg" alt="">
                                            <img class="dark-image" src="assets/img/icons/misc/buoy-dark.svg" alt="">
                                            <h3>Support</h3>
                                        </a>
                                        <a href="https://docs.huro.cssninja.io" class="column-placeholder">
                                            <img class="light-image" src="assets/img/icons/misc/docs.svg" alt="">
                                            <img class="dark-image" src="assets/img/icons/misc/docs-dark.svg" alt="">
                                            <h3>Documentation</h3>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div> -->
        <!-- </div> -->
        <!--Languages panel-->

        <!--Activity panel-->
        <!--Page body-->

        <div class="mobile-subsidebar">
            <div class="inner">
                <div class="sidebar-title">
                    <h3>Tambah Barang</h3>  
                </div>   
            </div>
        </div>
        <!-- Content Wrapper -->
        <div id="form-layout-1" class="view-wrapper is-webapp" data-page-title="GUDANG" data-naver-offset="150" data-menu-item="#dashboards-navbar-menu" data-mobile-item="#home-sidebar-menu-mobile"> 

            <div class="page-content-wrapper">
                <div class="page-content is-relative">

                    <div class="page-title has-text-centered is-webapp">

                        <div class="title-wrap">
                            <h1 class="title is-4">Tambah Stok</h1>
                        </div>

                        <!-- <div class="toolbar ml-auto">

                            <div class="toolbar-link">
                                <label class="dark-mode ml-auto">
                                    <input type="checkbox" checked>
                                    <span></span>
                                </label>
                            </div>

                            <a class="toolbar-link right-panel-trigger" data-panel="languages-panel">
                                <img src="assets/img/icons/flags/united-states-of-america.svg" alt="">
                            </a>



                            <a class="toolbar-link right-panel-trigger" data-panel="activity-panel">
                                <i data-feather="grid"></i>
                            </a>
                        </div> -->
                    </div>

                    <div class="page-content-inner">

                        <!--Form Layout 1-->
                        <div class="form-layout">
                            <div class="form-outer">
        
                                <div class="form-body">
                                    <!--Fieldset-->
                                    <div class="form-fieldset">
                                        <div class="fieldset-heading">
                                            <h4>Tambah Barang</h4>
                                        </div>

                                        <div class="columns is-multiline">
                                            <div class="column is-6">
                                                <div class="field">
                                                    <label>Nama Barang</label>
                                                    <div class="control has-icon">
                                                        <input type="varchar" class="input" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-6">
                                                <div class="field">
                                                    <label>Jenis barang</label>
                                                    <div class="control has-icon">
                                                        <input type="text" class="input" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-12">
                                                <div class="field">
                                                    <label>Kode Barang</label>
                                                    <div class="control has-icon">
                                                        <input type="int" class="input" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-12">
                                                <div class="field">
                                                    <label>Harga jual</label>
                                                    <div class="control has-icon">
                                                        <input type="int" class="input" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-12">
                                                <div class="field">
                                                    <label>Harga Beli</label>
                                                    <div class="control has-icon">
                                                        <input type="int" class="input" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="column is-12">
                                                <div class="field">
                                                    <label>Jumlah Barang</label>
                                                    <div class="control has-icon">
                                                        <input type="int" class="input" placeholder="">
                                                    </div>
                                                </div>
                                            </div>
                                            <button id="save-button" class="button h-button is-primary is-raised">TAMBAHKAN</button>
                                        </div>
                                    </div>
                                    <!--Fieldset-->
                                    <!--Fieldset-->
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <!--Huro Scripts-->
        <!--Load Mapbox-->

        <!-- Concatenated plugins -->
        <script src="assets/js/app.js"></script>

        <!-- Huro js -->
        <script src="assets/js/functions.js"></script>
        <script src="assets/js/main.js" async></script>
        <script src="assets/js/components.js" async></script>
        <script src="assets/js/popover.js" async></script>
        <script src="assets/js/widgets.js" async></script>


        <!-- Additional Features -->
        <script src="assets/js/touch.js" async></script>

        <!-- Landing page js -->

        <!-- Dashboards js -->

















        <!-- Charts js -->



        <!--Forms-->

        <!--Wizard-->

        <!-- Layouts js -->











        <script src="assets/js/syntax.js" async></script>
    </div>
</body>

</html>